label {
    padding-right: 120px;
}

.plus-button {
    background-color: green;
    color: white;
    font-size: 20px;
}

.minus-button {
    background-color: red;
    color: white;
    font-size: 20px;
}


